.aboutContainer {
  margin-top: 100px;
  padding-bottom: 36px;
  max-height: 100%;
  background-color: #fffbd8;
  align-items: center;
}
@media (max-width: 1091px) {
  .cardContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
}

.aboutContainer h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 36px 54px;
  margin: 0 110.5px;
}

.card {
  flex: 1;
  margin: 0 1em;
}

.card div {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.card span {
  font-size: 18px;
}

.helpCenter_btn {
  font-weight: bold;
  margin: 10px;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 100px;
}

.helpCenter_btn:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 375px) {
  .aboutContainer {
    margin-top: 40px;
    padding: 50px 10px;
  }

  .cardContainer {
    margin: 0;
    padding: 0;
  }

  .card div {
    font-size: 25px;
    text-align: center;
    margin: 20px 0px;
  }

  .card span {
    font-size: 16px;
    text-align: center;
  }

  .aboutContainer h3 {
    margin-top: 20px;
    text-align: center;
  }
}
